
<div class="sign up wrap">

  <h1><%= i18n("user.sign_up") %></h1>

  <p><%= i18n("user.already_a_user") %> <a href="/sign_in"><%= i18n("user.sign_in") %></a></p>

  <form id="form" class="form">

    <div class="group">
      <input id="email" type="email" placeholder="Email"/>
    </div>
    <div class="group">
      <input id="password" type="password" placeholder="Password"/>
    </div>
    <div class="group">
      <input id="confirm-password" type="password" placeholder="Confirm Password"/>
    </div>

    <div class="group">
      <input id="submit" class="btn blue" type="submit" value="Sign up"/>
    </div>

  </form>

</div>
