
<div class="page project new wrap">

  <h1 class="header"><%= i18n("projects.new") %></h1>

  <form id="form" class="form">

    <div class="group">
      <input id="title" type="text" placeholder="Title"/>
    </div>

    <div class="group">
      <label><%= i18n("projects.description") %>:</label>
      <textarea id="description"></textarea>
    </div>

    <div class="block">
      <input id="submit" class="btn blue right " type="submit" value="Create"/>
    </div>
  </form>

</div>
