
<div class="header wrap block">

  <div class="logo grid-4">
    <img src=""/>
  </div>

  <div class="grid-8">
    <ul class="nav">
      <li class="item"><a href="/"><%= i18n("nav.menu.home") %></a></li>
      <li class="item"><a href="/projects"><%= i18n("nav.menu.projects") %></a></li>
      <li class="item"><a href="/sign_out"><%= i18n("user.sign_out") %></a></li>
    </ul>
  </div>

</div>
