
@white: #f1f1f1;
@grey: darken(@white, 10%);
@dark-grey: darken(@grey, 10%);

@green: #0e0;
@light-green: lighten(@green, 10%);
@dark-green: darken(@green, 10%);

@red: #e00;
@light-red: lighten(@red, 10%);
@dark-red: darken(@red, 10%);

@brown: #530;
@light-brown: lighten(@brown, 10%);
@dark-brown: darken(@brown, 10%);

@black: #333;
